* {
    margin: 0;
    padding: 0;
}

@import "variables";
@import "mixins";

.content {


}
.button {
    background-color: $darktan;
    border: none;
    color: $black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; 
    cursor: pointer;
    
}

.activepage {
    color: $red;
}

.button:hover {
    color: $black;
    transition: ease-in-out 0.5s;
}

#mobile-header {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    grid-template-columns: 2fr 4fr 2fr;
    background-color: $red;
    position: fixed;

    #header1 {
        img{
            justify-items: center;
            max-width: 100px;

        }
    }
    #header3 {
        img{
            justify-items: center;
            max-width: 100px;

        }
    } 
    h1 {
        text-align: center;
        color:white;
        font-weight: bold;
        font-family: $font;
        text-size-adjust: 10px;
    
    }   
}



#mobile-sidebar {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 235vh;
    width: 25%;
    float: left;
    background-color: $darktan;
    grid-template-rows: 1fr 1fr 1fr 1fr 5fr 1fr;
    font-family: $font;
    font-size: 2rem;
    
}

#mobile-content {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 230vh;
    width: 75%;
    float: right;
    grid-template-rows: 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr;
    grid-template-columns: repeat(3, 3fr);
    border-style: bold;
    border-color: $darktan;
    font-size: 8px;


    #content5 {
        background-color: $lighttan;
    }

    #content10 {
        background-color: $lighttan;

    }

    #content12 {
        background-color: $lighttan;
    }

    #content17 {
        background-color: $lighttan;
    }
    div {
        width: 100%;
        height: 100%;
        background-color: $darktan;
        max-width: 20vw;
        max-height: 20vh;
        font-family: $font;
        text-align: center;




        img {
            display: grid;
            align-items: center;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-style: solid;
            border-color: white;
            
        }
    }
}

#mobile-footer {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 6vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $red;
}  

#mobile-aboutus {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 3fr;
    height: 180vh;
    

    img {
        display: grid;
        align-items: center;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    #aboutus1 {
        background-color: $darktan;
        border: solid $black;
    }

    #aboutus2 {
        background-color: $darktan;
        border: solid $black;
        
        iframe {
            width: 100%;
            height: 100%;
        }
    }

    #aboutus3 {
        background-color: $darktan;
        border: solid $black;
    }

    

}

@media screen and (min-width: $break-small) {
    #mobile-content {
        font-size: 13px;
    }
    #mobile-sidebar {
        width: 20vw;
    }
}
@media screen and (min-width: $break-big) {
    #content4 {
        font-size: 12px;
    }
}


