* {
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  background-color: #f3d6ae;
  border: none;
  color: #141301;
  text-align: center;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  font-size: 20px;
}

.button2 {
  background-color: #d10002;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.activepage {
  color: #d10002;
}

.button:hover {
  color: #141301;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

#mobile-header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100%;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  background-color: #d10002;
  position: fixed;
  z-index: 10;
}

#mobile-header #header1 img {
  justify-items: center;
  max-width: 100px;
}

#mobile-header #header3 img {
  justify-items: center;
  max-width: 100px;
}

#mobile-header h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 10px;
     -moz-text-size-adjust: 10px;
      -ms-text-size-adjust: 10px;
          text-size-adjust: 10px;
}

#mobile-sidebar2, #mobile-sidebar {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 25%;
  position: fixed;
  background-color: #f3d6ae;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 5fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 5fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

#mobile-content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290vh;
  width: 75%;
  float: right;
  -ms-grid-rows: 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr;
      grid-template-rows: 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr;
  -ms-grid-columns: (3fr)[3];
      grid-template-columns: repeat(3, 3fr);
  border-style: bold;
  border-color: #d8b993;
  font-size: 8px;
}

#mobile-content div {
  border: solid black;
}

#mobile-content #content5 {
  background-color: #f3d6ae;
}

#mobile-content #content10 {
  background-color: #f3d6ae;
}

#mobile-content #content12 {
  background-color: #f3d6ae;
}

#mobile-content #content17 {
  background-color: #f3d6ae;
}

#mobile-content #content23 {
  background-color: #f3d6ae;
}

#mobile-content #content28 {
  background-color: #f3d6ae;
}

#mobile-content #content30 {
  background-color: #f3d6ae;
}

#mobile-content #content35 {
  background-color: #f3d6ae;
}

#mobile-content #content40 {
  background-color: #f3d6ae;
}

#mobile-content #content42 {
  background-color: #f3d6ae;
}

#mobile-content #content46 {
  background-color: #f3d6ae;
}

#mobile-content #content48 {
  background-color: #f3d6ae;
}

#mobile-content div {
  width: 100%;
  height: 100%;
  background-color: #d8b993;
  max-width: 20vw;
  max-height: 20vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#mobile-content div img {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-style: solid;
  border-color: white;
}

#mobile-footer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #d10002;
  -ms-grid-columns: 2fr 3fr 2fr;
      grid-template-columns: 2fr 3fr 2fr;
  z-index: 10;
  color: white;
}

#mobile-footer #footer3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  height: 1vh;
}

#mobile-footer #footer1 {
  font-size: 10px;
}

#mobile-aboutus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr 1fr 3fr;
      grid-template-rows: 3fr 1fr 3fr;
  height: 400vh;
  width: 75%;
  float: right;
  border: 0;
}

#mobile-aboutus #aboutus1 {
  background-color: #f3d6ae;
  border: solid blac;
}

#mobile-aboutus #aboutus2 {
  background-color: #f3d6ae;
}

#mobile-aboutus #aboutus2 iframe {
  width: 100%;
  height: 100%;
  border: solid black;
}

#mobile-aboutus #aboutus3 {
  background-color: #d8b993;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: solid black;
  display: left;
  width: 100%;
}

#mobile-index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0.2fr 1fr;
      grid-template-rows: 1fr 0.2fr 1fr;
  height: 100vh;
  text-align: center;
  text-align: center;
  background-color: #d8b993;
  width: 75%;
  margin-left: 25%;
}

#mobile-index #mindex1 {
  display: -ms-grid;
  display: grid;
}

#mobile-index img {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

#mobile-index iframe {
  width: 100%;
}

@media screen and (min-width: 600px) {
  #mobile-content {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style2.css.map */