* {
    margin: 0;
    padding: 0;
}
img {

    height: 100%;
    width:100%;
    object-fit: cover;
    
}

@import "variables";
@import "mixins";

.button {
    background-color: $lighttan;
    border: none;
    color: $black;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 20px; 
    
}

.button2 {
    background-color: $red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; 
    cursor: pointer;
    
}



.activepage {
    color: $red;
}

.button:hover {
    color: $black;
    transition: ease-in-out 0.5s;
}

#mobile-header {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    grid-template-columns: 2fr 4fr 2fr;
    background-color: $red;
    position: fixed;
    z-index: 10;

    #header1 {
        img{
            justify-items: center;
            max-width: 100px;

        }
    }
    #header3 {
        img{
            justify-items: center;
            max-width: 100px;

        }
    } 
    h1 {
        text-align: center;
        color:white;
        font-weight: bold;
        font-family: $font;
        text-size-adjust: 10px;
    
    }   
}


#mobile-sidebar2, #mobile-sidebar {
    display: grid;
    height: 100%;
    width: 25%;
    position: fixed;
    background-color: $lighttan;
    grid-template-rows: 1fr 1fr 1fr 1fr 5fr 1fr;
    font-family: $font;
    font-size: 2rem;
    
    
}


#mobile-content {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 290vh;
    width: 75%;
    float: right;
    grid-template-rows: 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr;
    grid-template-columns: repeat(3, 3fr);
    border-style: bold;
    border-color: $darktan;
    font-size: 8px;

    div {
        border: solid black;
    }


    #content5 {
        background-color: $lighttan;
    }

    #content10 {
        background-color: $lighttan;

    }

    #content12 {
        background-color: $lighttan;
    }

    #content17 {
        background-color: $lighttan;
    }
    #content23 {
        background-color: $lighttan;
    }
    #content28 {
        background-color: $lighttan;
    }
    #content30 {
        background-color: $lighttan;
    }
    #content35 {
        background-color: $lighttan;
    }
    #content40 {
        background-color: $lighttan;
    }
    #content42 {
        background-color: $lighttan;
    }
    #content46 {
        background-color: $lighttan;
    }
    #content48 {
        background-color: $lighttan;
    }
    
    div {
        width: 100%;
        height: 100%;
        background-color: $darktan;
        max-width: 20vw;
        max-height: 20vh;
        font-family: $font;
        text-align: center;




        img {
            display: grid;
            align-items: center;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-style: solid;
            border-color: white;
            
        }
    }
}

#mobile-footer {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $red;
    grid-template-columns: 2fr 3fr 2fr;
    z-index: 10;
    color: white;
    

    #footer3 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 10px;
        font-family: $font;
        text-align: left;
        height: 1vh

    }

    #footer1{

        font-size: 10px;
    }
}  

#mobile-aboutus {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr;
    height: 400vh; 
    width: 75%;
    float: right;
    border: 0;
    
    #aboutus1 {
        background-color: $lighttan;
        border: solid blac;
    }

    #aboutus2 {
        background-color: $lighttan;
        
        iframe {
            width: 100%;
            height: 100%;
            border: solid black;
        }
    }

    #aboutus3 {
        background-color: $darktan;
        text-align: center;
        font-family: $font;
        font-size: 20px;
        border: solid black;
        display: left; 
        width: 100%; 
    }

    

}


#mobile-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 1fr;
    height: 100vh;
    text-align: center;
    text-align: center;
    background-color: $darktan;
    width: 75%;
    margin-left: 25%;

    #mindex1 {
        display: grid;
    }

    img {
        display: grid;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    iframe {
        width: 100%;
    }


}

@media screen and (min-width: $break-small) {
    #mobile-content {
        font-size: 10px;

    }
}




